<link rel="stylesheet" href="/style.css">
<div class="app">
	<h1>我的個人日記 APP - 新增日記</h1>
	
	<form method="post" action="/create">
		<table>
			<tr>
				<td><h2>標題:</h2></td>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
				<td><h2>內文:</h2></td>
				<td><textarea type="text" name="content"></textarea></td>
			</tr>
		</table>
		<br/>
		<button>新增</button>
	</form>
	
	<hr/>
	
	<h3><a href="/">BACK</a></h3>
</div>