<link rel="stylesheet" href="/style.css">
<div class="app">
	<h1>我的個人日記 APP - 編輯文章</h1>
	
	<form method="post" action="/update">
		<input type="hidden" name="index" value="<%= index %>">
		<table>
			<tr>
				<th><input type="text" value="<%= posts.title %>" name="title"></th>
			</tr>
			<tr>
				<td>
					<textarea type="text" name="content">
						<%= posts.content  %>
					</textarea>
				</td>
			</tr>
		</table>
		<br/>
		<button type="submit" name="action" value="update">更新</button>
		<button type="submit" name="action" value="delete">刪除</button>
	</form>
	<a href="/">Home</a>
</div>