body{
	background-color: rgba(0,0,0);
	margin: 0;
	padding: 0;
	
}
.app{
	background-color: rgba(251, 250, 248);
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	width:70%;
	margin:10px auto;
	padding:10px;
	border-radius: 10px;
	text-align:center;
}
h1{
	text-decoration-line: underline;
	padding: 10px;
}
h1,h2{
	text-align: center;
	color: rgba(149, 136, 112);
}
.page{
	border:2px solid rgba(0,0,0,0.1);
	border-radius: 10px;
	height:100px;
	width: 200px;
	overflow:hidden;
	padding:50px;
	padding-top:10px;
	margin:0 auto;
	margin-bottom:20px;
	display: inline-block;
}
.pageContent{
	width:50%;
	padding: 20px;
	padding-bottom:0px;
	text-decoration: underline rgba(0,0,0,0.1) 3px;
	margin: 0 auto;
	margin-bottom:50px;
	text-align:left;
}

/*view style*/
.app a,h2 a{
	text-decoration-line:none;
}
h2 a{
	color: rgba(149, 136, 112);
}
h2 a:hover{
	color: rgba(236, 174, 58);
}

/*new.ejs*/
table,tr,td{
	text-align:center;
	margin:0 auto;
}
input,textarea{
	border:2px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	margin-left:10px;
}
input{
	height:30px;
}
textarea{
	height:200px;
}
button{
	border:2px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	height:30px;
	color: rgba(149, 136, 112);
	font-size:20px;
	margin-bottom:10px;
}
button:hover{
	color: rgba(236, 174, 58);
}